body {
    --bg-color: #767171;
    --color-text: aliceblue;
    background-color: var(--bg-color);
    color: var(--color-text);
}

#nav {
    background-color: var(--bg-color);
}

a {
    color: var(--color-text);
    text-decoration: none;
}

a:hover {
    color: #F0E68C;
    text-decoration: none;
}

h2,h3 {
    color: #e5e5e5;
    text-decoration: none;
}

#footer {
    background-color: #ffffff;
    color: #333333;
}

#footer a {
    color: #333333;
}