body {   
    background-color: #393939;
    color: aliceblue;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav { 
    background-color: #393939;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
}

#logo {
    justify-self: left;
    margin-left: 5rem;
    float: left !important;
}

.push {
    margin-left: auto !important;
}

#nav>a {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 5rem;
    width: auto;
    color: aliceblue;
    text-decoration: none;
    font-size: larger;
}

a{
    color: aliceblue;
    text-decoration: none;
}

@media all and (max-width: 1000px){
    #nav a{
        margin-right: 2rem;
    }
    #logo{
        margin-left: 2rem;
    }
    #footer > *{
        margin-left: 1rem !important;
    }
}

.container {
    margin-top: 7rem;
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-left: auto;
    margin-right: auto;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
    margin-top: 0;
}

.row>* {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-top: 0;
}

.col {
    flex: 1 0 0%;
}

.col4{
    flex: 0 0 auto;
    width: 25% !important;
}

.col2{
    flex: 0 0 auto;
    width: 50% !important;
}

#footer{
    margin-top: 5rem !important;
    background-color: #494949;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#footer>*{
    margin-left: 3rem;
}

#footer>.row>.row>.col{
    margin-top: 2rem;
}