body {
    --bg-color: #5e5e5e;
    --color-text: aliceblue;
    background-color: var(--bg-color);
    color: var(--color-text);
    font-size: large;
    width: 95%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav {
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
    z-index: 1;
}

#logo {
    justify-self: left;
    margin-left: 5rem;
    float: left !important;
}

.push {
    margin-left: auto !important;
}

#nav>a {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 5rem;
    width: auto;
    font-size: larger;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

a:hover {
    color: #F0E68C;
    text-decoration: none;
}

#intro-card {
    max-width: 1100px;
}

.container {
    margin-top: 7rem;
    width: 100%;
    padding-left: 2rem;
    padding-right: 4rem;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1000px) {
    #nav a {
        margin-right: 0rem;
        /* font-size: medium; */
    }

    #logo {
        margin-left: 1rem;
    }

    #logo img {
        max-width: 120px;
    }

    #footer>* {
        margin-left: 1rem !important;
    }

    .container {
        padding-left: 1rem;
    }

    hr {
        margin-left: 2rem;
    }

    .row{
        padding: 0;
    }
    .card, .card-vertical,.card-video{
        margin-left: 0 !important;
    }
    .col,
    .col2,
    .col3,
    .col4 {
        width: 100% !important;
    }
}



.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
    margin-top: 3rem;
}

.row>* {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-top: 1rem;
}

.col {
    flex: 1 0 0%;
}

.col4 {
    flex: 0 0 auto;
    width: 25%;
}

.col2 {
    flex: 0 0 auto;
    width: 50%;
}

.col3 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col5 {
    flex: 0 0 auto;
    width: 20%;
}

.col6 {
    flex: 0 0 auto;
    width: 16.6666666%;
}

.col40 {

    flex: 0 0 auto;
    width: 40%;
}

.col10 {
    flex: 0 0 auto;
    width: 10%;
}

.col80 {
    flex: 0 0 auto;
    width: 80%;
}

.col90 {
    flex: 0 0 auto;
    width: 90%;
}

.asc {
    align-self: center;
}

#footer {
    margin-left: -2.5rem;
    width: 110%;
    margin-top: 5rem !important;
    background-color: #494949;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#footer>* {
    margin-left: 3rem;
    margin-right: -2rem;
}

#footer>.row>.row>.col {
    margin-top: 2rem;
}

.h1title {
    font-size: 5rem;
}

.banner {
    width: 100%;
    min-width: 120px;
}

.row-center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.arrows {
    margin: auto;
    display: flex;
    justify-content: center;
    display: block;
    width: 70px;
    justify-self: center;
}

.arrows path {
    stroke: var(--color-text);
    stroke-width: 3px;

    fill: transparent;
}

.col-justify-center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.col-auto {
    width: auto;
}

hr {
    height: 0px;
    border-width: 3px;
    margin-left: 5rem;
    margin-right: 5rem;
}

.card,
.card-vertical,
.card-video {
    width: 100%;
    margin: 2rem;
    margin-top: 2rem;
    overflow: hidden;
    height: 100%;
    border-radius: 30px;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
}

.card-video img {
    width: 100%;
    height: 100%;
}

.card-vertical img {
    height: 100%;
    width: auto
}

.white {
    background-color: var(--color-text);
    color: black;
}

.white>* {
    color: black;
}

.mt {
    margin-top: 5rem;
}

.mts {

    margin-top: 3rem;

}

.ml {
    margin-left: 2rem;
}

.p5 {
    padding: 2rem !important;
}

.card-hr {
    margin-left: unset;
    margin-right: unset;
}

input,
button {
    border-radius: 20px;
    height: 3rem;
    font-size: large;
}

.descr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    padding-top: 80px;
    text-align: center;
    border-radius: 30px;
    opacity: 0;
    transform: scale(0);
    transition: all .5s;
}

.card:hover .descr {
    border-radius: 25px;
    opacity: 1;
    transform: scale(1);
}

.text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    text-align: center;
    border-radius: 30px;
    opacity: 0;
}

.card-vertical:hover iframe {
    transition: .5s ease-in;
    transform: translateY(-40px);
    border-radius: 30px;
}

.card-vertical:hover .text {
    opacity: 1;
}

.card-video:hover iframe {
    transition: .5s ease-in-out;
    transform: translateY(-40px);
    border-radius: 30px;
}

.card-video:hover .text {
    opacity: 1;
}
.white:hover{
    background-color: #E0FFFF;
}

.svg-arrow {
    stroke-dasharray: 50px;
    stroke-dashoffset: 0;
    stroke: var(--color-text);
    stroke-width: 1px;
    fill: var(--color-text);
    animation: arrow 3s infinite linear;
}

@keyframes arrow {
    0% {
        fill: none;
        stroke-dashoffset: 100;
    }

    100% {
        fill: none;
        stroke-dasharray: 100px;
        stroke-dashoffset: 0;
    }
}
  
  .word {
       opacity: 0;
  }
  
  .letter {
    display: inline-block;    
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  }
  
  .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .letter.behind {
    transform: rotateX(-90deg);
  }
  
  .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .wisteria {
    color: #bf72e0;
  }
  
  .belize {
    color: #57e45e;
  }
  
  .pomegranate {
    color: #ec7a6d;
  }
  
  .green {
    color: #3be4c2;
  }
  
  .midnight {
    color: #7cf519;
  }
  