body {
    --bg-color: #ffffff;
    --color-text: #000000;
    background-color: var(--bg-color);
    color: var(--color-text);

}

#nav {
    background-color: var(--bg-color);
}

#nav>a {
     color: var(--color-text);
}
h1{
    color:#8f8f8f;
    text-decoration: none;
}
h2,h3{
    color:#e5e5e5 ;
    text-decoration: none;
}
a {
    color:#e5e5e5 ;
    text-decoration: none;
}

#footer {
    background-color: #ffffff;
    color:#333333;
}
#footer a {
    color:#333333;
}
