.sclose {
    margin-left: 190px;
    margin-top: -296px;
    display: none;
}

section {
    min-width: 470px;
    padding-bottom: 50px;
}

blockquote {
    margin: 8px 0 10px 0px;
    background: #5bc2ef;
    border-radius: 3px 10px 3px 3px;
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;
}

.bqinfo {
    margin-top: 5px;
    border-radius: 10px 10px 3px 3px;
}

blockquote p {
    letter-spacing: 1px;
    min-width: 440px;
    color: #fff;
    font-style: italic;
    font-size: 23px;
    margin: 0;
}

blockquote cite {
    display: block;
    color: #009bdc;
    margin: 0;
    font-size: 20px;
    text-align: right;
}

.noss {
    color: #8f8f8f;
}

#scroll {
    padding: 0px 15px 15px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 5px;
    height: 600px;
    overflow: auto;
}

.scrol {
    overflow: auto;
    width: 400px;
    height: 400px;
}

.scrol img {
    height: 200px;
}

.news,
.kont {
    margin-bottom: 10px;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    background: #f3f3f3;
    display: block;
    border: 1px solid #e7e7e7;
    padding: 10px;
    margin-left: 180px;
    margin-right: 180px;
}

.news h1,
.kont h1 {
    margin: 0 0 5px 0;
    padding: 5px 10px 0 10px;
    color: #fff;
    font: 25px Parangon, sans-serif;
    display: block;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    background: #00afeb;
    border-radius: 3px;
}

.news p,
.cont p {
    text-align: justify;
    font-size: 1.3em;
}

.kont {
    min-height: 340px;
    align-items: center;
}

#kontact nav {
    border: 1px solid #e7e7e7;
    width: 480px;
    overflow: hidden;
    background-color: #f3f3f3;
    text-align: center;
}

#kontact h2 {
    font: 18px/16px 'Parangon', sans-serif;
}

#kontact h3 {
    font: 16px sans-serif;
}

.box {
    margin: 250px;
    padding: 25px;
    text-indent: -9999px;
    display: inline-block;
}

.click {
    background: url('click.png');
    width: 200px;
    height: 86px;
    display: block;
}

.ya {
    background: url('ya.png');
    width: 50px;
    height: 50px;
    margin: 10px;
    background-position: 0 0px;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    /* Firefox 4 */
    -webkit-transition: opacity 0.5s;
    /* Safari and Chrome */
    -o-transition: opacity 0.5s;
    /* Opera */
    opacity: 0.6;
    float: left;
}

.ya:hover {
    background: url('ya.png');
    width: 50px;
    height: 50px;
    background-position: 0 -50px;
    opacity: 1;
}

.ma {
    background: url('ma.png');
    width: 51px;
    height: 52px;
    margin: 10px;
    background-position: 0 0px;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    /* Firefox 4 */
    -webkit-transition: opacity 0.5s;
    /* Safari and Chrome */
    -o-transition: opacity 0.5s;
    /* Opera */
    opacity: 0.6;
    float: left;
}

.ma:hover {
    background: url('ma.png');
    width: 51px;
    height: 52px;
    background-position: 0 -51px;
    opacity: 1;
}